addons/
cache/
data/
download/
backgrounds/
demos/
cfg/
dupes/
html/
downloadlists/
gamemodes/
screenshots/
scenes/
materials/
maps/

lua/autorun/
lua/bin
lua/derma
lua/drive
lua/entities
lua/includes
lua/matproxy
lua/postprocess
lua/skins
lua/vgui
lua/weapons

resource/language
resource/localization
resource/ui
resource/*.res
resource/*.*
resource/fonts/akbar.ttf
resource/fonts/coolvetica.ttf
resource/fonts/csd.ttf
resource/fonts/Roboto-*.ttf
resource/fonts/akbar.ttf

lua/menu/background.lua
lua/menu/cef_credits.lua
lua/menu/demo_to_video.lua
lua/menu/errors.lua
lua/menu/getmaps.lua
lua/menu/loading.lua
lua/menu/mainmenu.lua
lua/menu/menu_addon.lua
lua/menu/menu_demo.lua
lua/menu/menu_dupe.lua
lua/menu/menu_save.lua
lua/menu/motionsensor.lua
lua/menu/openurl.lua
lua/menu/ugcpublish.lua
lua/menu/util.lua
lua/menu/video.lua
lua/menu/mount
lua/menu/problems
lua/menu/mplugins

*.tmp
*.rad
*.vbsp
*.vpk
*.dll
*.txt
*.db
*.dt
*.inf
*.vdf
*.dat
*.res
*.pcf
*.ver
